body {
    font-family: Arial, sans-serif;
    background-color: #c5c5c5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #cf783e;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 30px;
    text-align: center;
    width: 100%;
    color: #ddd;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.button-frame {
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.button-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.b1 {
    border: none;
    color: rgb(255, 255, 255);
    background-color: #cf783e;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.product-type {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px;
}
