@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 10px;
    width: 1400px;

}

.mid{
    display: flex;
    align-items: center;
}



.container h4{
    font-size: 16px;
    background-color: rgb(172, 172, 172);
    margin: 15px 0 15px 0;
}

.container .radio{
    margin-left: 40px;
}

.container .radio2{
    margin-left: 250px;
}

.container p{
    margin: 0;
}